node_modules
.next
.git
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
npm-debug.log
README.md
.env
.env*.local
.env.production
coverage
test-results
playwright-report
playwright/.cache
blob-report
.vscode
.idea
.DS_Store
*.log
.github
